body {
  margin: 0;
  background-color: rgb(234, 217, 235);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  
  padding: 20px;
  width: 70%;
  height: 250px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  font-size: 50px;
}

#btnStart {
  background-color: red;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#btnReset {
  background-color:red
}

button {
  margin: 10px;
  width: 130px;
  height: 70px;
  padding: 20px;
  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10%;
  background-color:red;
  color: white;
  border: rgb(205, 205, 205) 3px ridge;
}

button:hover {
 
  color: rgb(255, 226, 231);
}

button:active {
  color: red;
  background-color: rgb(255, 226, 231);
}

#btnStart:hover {
 
  color: rgb(226, 255, 227);
}

#btnReset:hover {
  color: rgb(226, 242, 255);
}
